affinegap==1.12
BTrees==6.0
categorical-distance==1.9
cffi==1.17.1
dedupe==3.0.3
dedupe_Levenshtein_search==1.4.5
DoubleMetaphone==1.1
haversine==2.8.1
highered==0.2.1
joblib==1.4.2
numpy==2.1.1
persistent==6.0
pycparser==2.22
pyhacrf-datamade==0.2.8
PyLBFGS==0.2.0.16
scikit-learn==1.5.1
scipy==1.14.1
setuptools==74.1.2
simplecosine==1.2
threadpoolctl==3.5.0
zope.deferredimport==5.0
zope.index==6.1
zope.interface==7.0.3
zope.proxy==5.3
